@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mister Pixel";
  src: url("../assets/fonts/Mister-Pixel-Tools.woff");
}

@font-face {
  font-family: "Dark Garden";
  src: url("../assets/fonts/DarkGardenMK.woff");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../assets/fonts/Helvetica.woff2");
}

.nav-transition:hover button {
  transition-delay: 0ms, 200ms;
  transition-property: width, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.portfolio-transition div {
  transition-delay: 200ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.pulse:hover {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1);
  color: black;
}

.hover:hover {
  background-color: #ede0ec;
  color: #000000;
}

/* elements in the marquee need to all be the same size */

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 15s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 2rem;
  padding: 0 0.25rem;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.marquee-small {
  position: relative;
  overflow: hidden;
  --offset-small: 110vw;
  --move-initial-small: calc(-25% + var(--offset-small));
  --move-final-small: calc(-50% + var(--offset-small));
}

.marquee-small__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial-small), 0, 0);
  animation: marquee-small 5s linear infinite;
  animation-play-state: running;
}

.marquee-small span {
  font-size: 3rem;
  padding: 0 1rem;
}

.marquee-small:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee-small {
  0% {
    transform: translate3d(var(--move-initial-small), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final-small), 0, 0);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes hover {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
}
