@tailwind base;
@tailwind components;
@tailwind utilities;

.nav:hover button {
  transition-delay: 0ms, 200ms;
  transition-property: width, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}
